.product{
  
   display: flex;
   margin-top: 50px;
   margin-left:10px;
padding:10px;

}
.image {
background-color : white;
}
.info{
    margin-left:50px;
    padding:10px;
    width:50px;
    width: fit-content;
    block-size: fit-content;
    
}
.information{
    display: flex;


}
.description{
    width: 50%;
    padding:10px;
}